/* index.css */

h1, h2 {
  font-family: "Audiowide", sans-serif;
  text-align: center;
}

head {
    text-align: center;
    background-color:bisque;
    font-family: 'Courier New', Courier, monospace;
}

#subheading {
    text-align: center;
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}

#alcpic {
    border-color: blueviolet;
    border-width: 2px;
}

body {
    background-color: blanchedalmond;
    font-family: "Lucida Console", "Courier New", monospace;
}